*, body{
    margin:0;
    padding:0
}
:root{
    --purple-dark:#1e0f21;
    --white:#fff;
    --green-light:#0fe4ff;
}

html {
    background-color: var(--purple-dark);
    font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px; 
}
/* header style */
#header, #hunt{
    position: relative;
    width:100%;
    height: 50vw;
}
.bg-header{
    position: relative;
    width: 100%;
    height: 50vw;
    z-index:-1;
    overflow: hidden
}
.img-header{
    position: absolute;
    background-image: url("../images/background.jpg");
    background-size:cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-box-shadow: inset 0px 0px 155px 12px rgba(30,15,33,1);
    -moz-box-shadow: inset 0px 0px 155px 12px rgba(30,15,33,1);
    box-shadow: inset 0px 0px 155px 12px rgba(30,15,33,1);
 }
 .content{
     display: flex;
     padding: 5vw;
 }
 .content-left{
     flex:2;
     color:var(--white);
 }
 .content-left-title{
     font-size:2vw;
     font-weight: 500;
     margin-bottom:5px;
 }
 .content-left-list{
     list-style-type: none;
     font-size:3.8vw;
     font-weight: 600;
 }
 .content-center{
     flex:3;
 }
 .content-center-logo{
     display: block;
     width:30vw;
     margin:auto;
 }
 .content-right{
     flex: 2;
     margin-top:5vw;
     color:var(--white);
 }
 .content-right-title{
     font-size:2.8vw;
 }
 .content-right-subtitle{
     display: flex;
     align-items: center;
     margin-top:5px;
 }
 .content-right-subtitle-year{
     font-size:2.8vw;
     font-weight: 600;
 }
 .content-right-subtitle-location{
     margin-left:10px;
 }
 .content-right-subtitle-location-info{
     font-size: 1.1vw;
 }
 .content-right-btn{
     padding:1vw 5vw;
     margin-top:2vw;
     font-weight: 800;
     color:var(--purple-dark);
     border:none;
     font-size:1vw;
    }
.content-right-btn:hover{
    background-color:var(--purple-dark);
    color:var(--white);
    border:none;
 }
 .people-img{
    position: absolute;
    bottom: 0;
    left: 25vw;
    width: 50vw;
    height: auto;
 }
 /* about style */
 #about{
     margin: 3vw 5vw;
 }
 .about-content{
     justify-content: space-between;
     align-items: flex-start;
 }
 .about-content-description{
     font-size: 2.2vw;
     line-height: 1.8;
     color:var(--white)
 }
 .about-content-detail,.description-for{
     padding-top:1vw;
     font-size:1vw;
     line-height: 1.8;
     letter-spacing: .012em;
     opacity: 0.6;
     color:var(--white)
    }
.description-closing{
    font-size:2.3vw;
    line-height: 1.5;
    opacity: 0.6;
    color:var(--white);
 }
 .detail-quote{
     font-weight: 600;
     color:var(--green-light);
     font-size: 1.2em;
 }
 /* hunt style */
 .bg-hunt{
    position: relative;
    width: 100%;
    height: 50vw;
    z-index:-1;
    overflow: hidden
}
 .img-hunt{
    position: absolute;
    background-image: url("../images/deer.jpg");
    background-size:cover;
    background-position: 20% 15%;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.content-left-title-hunt{
    font-size:2.2vw;
    font-weight: 700;
    margin:2vw 1vw;
}
.content-left-subtitle-hunt{
    margin:2vw 1vw;
    font-size:1.5vw;
    width:20vw;
}